* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

.nav-bar{
    width: 100%;
    display: flex;
    gap: 5rem;
    position: fixed;
    top: 1rem;
    /* left: 50%; */
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;

}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

span{
    color: rgba(113, 38, 182, 0.945);
    font-weight: 400;
    font-size: 1.7rem;
}

.logo:hover{
    font-size: x-large;
}

.nav-links{
    display: flex;
    gap: 2rem;
    align-content: center;
}

li a{
    /* position: relative;  */
    color: white;
    font-weight: 300;
}

li a:hover{
    width: 100%;
    color: blueviolet;
    font-size: large;
    font-weight: 900;
}

.about-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 12%;
    width: 100%;
    /* position: relative; */
    /* z-index: 90; */
}

.container{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 10rem;
}

.container img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* float: left; */
}

.info{
    /* float: right;
    text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
}


.info h3{
    font-size: 1.5rem;
    font-weight: 300;
}

.info p{
    font-size: 2.5rem;
    font-weight: 600;
}

.info #job{
    color: black;
    background: linear-gradient(to right, rgb(255,0,255),rgb(0,157,255));
    border-radius: 2%;
}


